body{
    font-size: 16px;
}
*{
    color: white;
    box-sizing: border-box;
}
header, footer{
    height: 200px;
    padding: 1em;
}


article{
    height: auto;
    background-color:rgb(236, 201, 110);
    padding: 1em;
    margin-bottom: 1em;
}

body > header{
    background-color:rgb(10, 66, 122);
    margin-bottom: 1em;
    float: left;
    width: 79%;
}

nav{
    background-color:rgb(241, 108, 75);
    padding: 1em;
    float: left;
    width: 20%;
    height: 600px;
    margin-right: 1%;
}

main > article > header{
    background-color:rgb(236, 201, 110)
}
main{
    float: left;
    width: 79%;
}

footer{
    background-color:rgb(231, 74, 31);
    width: 100%;
    text-align: center;
    clear: both;
}