body{
    font-size: 16px;
}
*{
    color: white;
    box-sizing: border-box;
}
header, footer{
    height: 200px;
    padding: 1em;
}


article{
    height: auto;
    background-color:rgb(236, 201, 110);
    padding: 1em;
    margin-bottom: 1em;
}

body > header{
    background-color:rgb(10, 66, 122);
    margin-left: 20%;
    margin-bottom: 1em;
}

nav{
    width: 20%;
    position: absolute;
    height: 600px;
    left: 0;
    top: 0;
    background-color:rgb(241, 108, 75);
    padding: 1em;
}

main > article > header{
    background-color:rgb(236, 201, 110)
}
main{
    margin-left: 20%;
    margin-bottom: 107px;
}

footer{
    background-color:rgb(231, 74, 31);
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
}