body{
    font-size: 16px;
}
*{
    color: white;
    box-sizing: border-box;
}
header, footer{
    height: 200px;
    padding: 1em;
}


article{
    height: auto;
    background-color:rgb(236, 201, 110);
    padding: 1em;
    margin-bottom: 1em;
}

header{
    background-color:rgb(10, 66, 122);
    margin-bottom: 1em;
    width: 100%;
}

nav{
    background-color:rgb(241, 108, 75);
    padding: 1em;
    width: 100%;
    height: 200px;
    margin-bottom: 1em;
}

main > article > header{
    background-color:rgb(236, 201, 110)
}
main{
    width: 100%;
}

footer{
    background-color:rgb(231, 74, 31);
    width: 100%;
    text-align: center;
}

/* Version tablet */
@media (min-width: 720px){
    /* Aquí inician los estilos para tablet */
    header{
        background-color: rgb(36, 36, 36);
        height: inherit;
        margin-bottom: 0;
    }
    .contenedor{
        display: grid;
        gap:1em;
        grid-template: repeat(5, 1fr) / 20% 1fr;
        
    }
    nav{
        grid-row-start: 1;
        grid-row-end: 5;
        background-color: rgb(79, 193, 155);
        height: inherit;
        margin-bottom: 0;
    }
    main{
        
    }
    article{
        background-color:rgb(118, 236, 110);
        margin-bottom: 0;
    }
    article > header{
        background-color:rgb(22, 172, 27)
    }
    footer{
        background-color:rgb(218, 231, 31);
        grid-column-start: 1;
        grid-column-end: 3;
        height: inherit;
    }
    /* Aquí terminan los estilos para tablet */
}

/* Version laptop */
@media (min-width: 1024px){
    /* Aquí inician los estilos para laptop */
    header{
        background-color: rgb(18, 23, 68);
    }
    .contenedor{
        flex-direction: row-reverse;
    }
    nav{
        background-color: rgb(12, 79, 179);
    }
    article{
        background-color:rgb(110, 181, 236);
    }
    article > header{
        background-color:rgb(47, 122, 183)
    }
    footer{
        background-color:rgb(0, 39, 81);
    }
    /* Aquí terminan los estilos para laptop */
}